NCD Enterprise IIoT Gateway/Firmware/flow.json
[
    {
        "id": "c12363994e8480aa",
        "type": "tab",
        "label": "NCD Enterprise IIoT Gateway",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5657066a078f398b",
        "type": "inject",
        "z": "c12363994e8480aa",
        "name": "Every 5 minutes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "09c88952b9816b0d"
            ]
        ]
    },
    {
        "id": "09c88952b9816b0d",
        "type": "exec",
        "z": "c12363994e8480aa",
        "command": "sh -c",
        "addpay": "payload",
        "append": "uptime && ip route | grep default | awk '{print \"inf: \"$5}' && free -m | grep Mem && df -h | grep '/$' && uname -a && cat /sys/class/thermal/thermal_zone0/temp && top -bn1 | grep '%Cpu(s)' && ip -s link show dev $(ip route | grep default | awk '{print $5}') && ip -4 addr show dev $(ip route | grep default | awk '{print $5}') | grep 'inet ' || echo 'IP not found' && mmcli -m 0 | grep -A 5 'SIM' || echo 'SIM1 not detected' && mmcli -m 1 | grep -A 5 'SIM' || echo 'SIM2 not detected'",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get System Data",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "8803d6cfcb141870"
            ],
            [],
            []
        ]
    },
    {
        "id": "8803d6cfcb141870",
        "type": "function",
        "z": "c12363994e8480aa",
        "name": "Format Data",
        "func": "let uptime = \"Unknown\";\nlet ip = \"Unknown\";\nlet ramUsage = 0;\nlet ramStat = \"Unknown\";\nlet storage = 0;\nlet storageStat = \"Unknown\";\nlet systemInfo = \"Unknown\";\nlet cpuTemp = \"Unknown\";\nlet cpuUsage = \"Unknown\";\nlet activeLink = \"Unknown\";\nlet networkStatus = \"Unknown\";\nlet gateway_state = \"OFF\";\nlet sim1StatusLed = 0;\nlet sim2StatusLed = 0;\nlet sim1Status = \"Unknown\";\nlet sim2Status = \"Unknown\";\nlet cellularStatus = \"Unknown\";\n\n// Split the payload by newline\nlet data = msg.payload.split('\\n');\n\n// Debugging output\nnode.warn(`Data lines: ${data}`);\n\n// Uptime\nlet uptimeMatch = data.find(line => line.includes('up'));\nif (uptimeMatch) {\n    let uptimeResult = uptimeMatch.match(/up\\s+(.*),\\s+\\d+\\s+users?/);\n    if (uptimeResult) {\n        uptime = uptimeResult[1];\n    }\n}\n\n// RAM Usage\nlet ramLine = data.find(line => line.includes('Mem:'));\nif (ramLine) {\n    let ram = ramLine.match(/\\d+/g);\n    if (ram) {\n        ramUsage = Math.round((parseInt(ram[2]) / parseInt(ram[0])) * 100);\n        ramStat = `${ram[2]}M/${ram[0]}M`;\n    }\n}\n\n// Storage Usage\nlet storageLine = data.find(line => line.includes('overlayfs:overlay'));\nif (storageLine) {\n    let storageResult = storageLine.match(/(\\d+)%/);\n    if (storageResult) {\n        storage = storageResult[1];\n    }\n    let storageStatResult = storageLine.match(/(\\d+G)\\s+(\\d+M)\\s+(\\d+G)\\s+(\\d+%)/);\n    if (storageStatResult) {\n        storageStat = `${storageStatResult[2]}/${storageStatResult[1]}`;\n    }\n}\n\n// System Info\nlet systemInfoLine = data.find(line => line.includes('Linux'));\nif (systemInfoLine) {\n    systemInfo = systemInfoLine;\n}\n\n// CPU Temperature\nlet cpuTempLine = data.find(line => !isNaN(line.trim()));\nif (cpuTempLine) {\n    cpuTemp = (parseInt(cpuTempLine.trim()) / 1000).toFixed(1);\n}\n\n// CPU Usage\nlet cpuUsageLine = data.find(line => line.includes('%Cpu(s)'));\nif (cpuUsageLine) {\n    let cpuUsageResult = cpuUsageLine.match(/(\\d+\\.\\d+)\\s*us,/);\n    if (cpuUsageResult) {\n        cpuUsage = parseFloat(cpuUsageResult[1]).toFixed(1);\n    }\n}\n\n// Find the active Ethernet interface\nlet interfaceLine = data.find(line => line.includes('inf:'));\nif (interfaceLine) {\n    activeLink = interfaceLine.split('inf:')[1].trim();\n}\n\n// IP Address\nif (activeLink !== \"Unknown\") {\n    let ipLine = data.find(line => line.includes(`inet`) && !line.includes(`inet6`) && line.includes(`${activeLink}`));\n    if (ipLine) {\n        let ipMatch = ipLine.match(/inet\\s+(\\d+\\.\\d+\\.\\d+\\.\\d+)/);\n        if (ipMatch) {\n            ip = ipMatch[1];\n        }\n    }\n}\n\n// Network Status\nif (activeLink !== \"Unknown\") {\n    // Find the block for the active link\n    let linkBlockIndex = data.findIndex(line => line.includes(`${activeLink}:`));\n    if (linkBlockIndex !== -1) {\n        // Parse network statistics from the correct lines\n        let rxPacketsLine = data[linkBlockIndex + 3].trim();\n        let txPacketsLine = data[linkBlockIndex + 5].trim();\n\n        // Match numbers from the lines\n        let rxPacketsMatch = rxPacketsLine.match(/(\\d+)/g);\n        let txPacketsMatch = txPacketsLine.match(/(\\d+)/g);\n\n        if (rxPacketsMatch && txPacketsMatch) {\n            let rxPackets = rxPacketsMatch[0];\n            let txPackets = txPacketsMatch[0];\n            let rxBytes = rxPacketsMatch[1];\n            let txBytes = txPacketsMatch[1];\n\n            networkStatus = `RX: ${rxBytes} bytes, TX: ${txBytes} bytes`;\n        }\n    }\n}\n\n// SIM1 Status\nlet sim1StatusLine = data.find(line => line.includes('SIM1') && line.includes('not detected'));\nif (sim1StatusLine) {\n    sim1Status = \"SIM1 not detected\";\n    sim1StatusLed = 0;\n} else {\n    sim1Status = \"SIM1 detected\";\n    sim1StatusLed = 1;\n}\n\n// SIM2 Status\nlet sim2StatusLine = data.find(line => line.includes('SIM2') && line.includes('not detected'));\nif (sim2StatusLine) {\n    sim2Status = \"SIM2 not detected\";\n    sim2StatusLed = 0;\n} else {\n    sim2Status = \"SIM2 detected\";\n    sim2StatusLed = 1;\n}\n\ncellularStatus = `${sim1Status}, ${sim2Status}`;\n\ngateway_state = \"ON\";  // Assuming gateway is ON if all above data is fetched successfully\n\nreturn [\n    { payload: uptime },\n    { payload: ip },\n    { payload: ramUsage },\n    { payload: ramStat },\n    { payload: storage },\n    { payload: storageStat },\n    { payload: systemInfo },\n    { payload: cpuTemp },\n    { payload: cpuUsage },\n    { payload: activeLink },\n    { payload: networkStatus },\n    { payload: gateway_state },\n    { payload: cellularStatus },\n    { payload: sim1StatusLed },\n    { payload: sim2StatusLed },\n];\n",
        "outputs": 15,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "8324fb7abd92b7a1"
            ],
            [
                "fb11064640c490f0"
            ],
            [
                "facd659778ca63ca"
            ],
            [
                "9bfe34a2dafca0ac"
            ],
            [
                "ee3bc428e97bc72c"
            ],
            [
                "481b4fa97b9f85c1"
            ],
            [
                "a8b2f8973e72999c"
            ],
            [
                "40a085bed75d8fe3"
            ],
            [
                "94c4888b6487f7b5"
            ],
            [
                "63e1100c610f38e2"
            ],
            [
                "fe2fe33ebb01f185"
            ],
            [
                "9828465a1247645f"
            ],
            [
                "2ffef987bc1563d3"
            ],
            [
                "9523062b1e78cab6"
            ],
            [
                "3916ab3fcf1d463f"
            ]
        ]
    },
    {
        "id": "facd659778ca63ca",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT RAM Usage",
        "topic": "ds/RAM",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "9bfe34a2dafca0ac",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT RAM Statistic",
        "topic": "ds/RAM Statistic",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "ee3bc428e97bc72c",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Storage",
        "topic": "ds/Storage",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "8324fb7abd92b7a1",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Uptime",
        "topic": "ds/Uptime",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb11064640c490f0",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT IP",
        "topic": "ds/IP",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "481b4fa97b9f85c1",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Storage Statistic",
        "topic": "ds/Storage Statistic",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8b2f8973e72999c",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT System Info",
        "topic": "ds/System Info",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "40a085bed75d8fe3",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT CPU Temperature",
        "topic": "ds/CPU Temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "94c4888b6487f7b5",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT CPU Quad Core",
        "topic": "ds/CPU Quad Core",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "fe2fe33ebb01f185",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Ethernet Status",
        "topic": "ds/Ethernet Status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "63e1100c610f38e2",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Active Link",
        "topic": "ds/Active Link",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "84a13d90912efd46",
        "type": "ncd-gateway-node",
        "z": "c12363994e8480aa",
        "name": "",
        "connection": "3a158777559a1790",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "8803d6cfcb141870",
                "f815fe88a3df5a82"
            ]
        ]
    },
    {
        "id": "f815fe88a3df5a82",
        "type": "debug",
        "z": "c12363994e8480aa",
        "name": "Debug Gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "9828465a1247645f",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Gateway Status",
        "topic": "ds/Status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "bff279510e1ebb64",
        "type": "comment",
        "z": "c12363994e8480aa",
        "name": "NCD Gateway Node",
        "info": "",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "dd74e06401ccd644",
        "type": "comment",
        "z": "c12363994e8480aa",
        "name": "Execute Node",
        "info": "",
        "x": 230,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1eb21d66b74e552",
        "type": "comment",
        "z": "c12363994e8480aa",
        "name": "Process Data",
        "info": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "d6c3dec9f8d54b8b",
        "type": "comment",
        "z": "c12363994e8480aa",
        "name": "MQTT-OUT",
        "info": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "9523062b1e78cab6",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Sim1",
        "topic": "ds/Sim 1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 750,
        "y": 880,
        "wires": []
    },
    {
        "id": "3916ab3fcf1d463f",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Sim2",
        "topic": "ds/Sim 2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 750,
        "y": 940,
        "wires": []
    },
    {
        "id": "2ffef987bc1563d3",
        "type": "mqtt out",
        "z": "c12363994e8480aa",
        "name": "MQTT Cellular Status",
        "topic": "ds/Cellular Status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98b7a230daa84efa",
        "x": 780,
        "y": 820,
        "wires": []
    },
    {
        "id": "98b7a230daa84efa",
        "type": "mqtt-broker",
        "name": "Blynk.cloud",
        "broker": "blynk.cloud",
        "port": "8883",
        "tls": "59176f5932c42a05",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3a158777559a1790",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    },
    {
        "id": "59176f5932c42a05",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ISRG_Root_X1.der",
        "servername": "blynk.cloud",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]

